@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";

.leader__container {
  display: flex;
  position: relative;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 5rem;
  justify-content: center;
  gap: 5%;

  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
    width: 100wv;
  }

  .leader_img__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;



    .leader_img--lead {
      @extend %title-large--light;
      font-size: 4rem;
      color: $deep-dark-color;

      @include respond(tab-land) {
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    .leader_img {

      position: relative;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $deep-dark-color;

      width: 500px;
      height: 500px;

      @include respond(phone) {
        width: 100%;
        height: 100%;
      }

      @include respond(tab-land) {
        margin-bottom: 2rem;
      }
      svg {
        display: flex !important;
        text-align: center;
        max-width: 100% !important;
      }

      img {
        margin: 2rem 0rem;
        width: 100%;
      }
    }
  }

}