@import "../../styles/media";

.wrapper {
  user-select: none;
  padding: 4rem;
  height: auto;
  margin: 0 auto;
  position: relative;

  @include respond(tab-land) {
    padding: 0rem;
  }

  @include respond(phone) {
    padding: 0rem;
  }

  h1 {
    font-size: 2.5rem;
    font-family: Nunito, Roboto, sans-serif;
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
  }
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  @include respond(phone) {
    margin: 2rem 0.5rem;
    gap: 2rem;

  }
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;

  @include respond(semi-big-desktop) {
    width: calc(33% - 2rem);
  }

  @include respond(phone) {
    width: 100%;
  }
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: calc(100vh - 8rem);
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.front {
  &.bkg-img-dev {
    background-image: url("/images/card-bkgs/services_dev_bkg.png");
    background-size: cover;
  }

  &.bkg-img-sdet {
    background-image: url("/images/card-bkgs/services_sdet_bkg.png");
  }

  &.bkg-img-creative {
    background-image: url("/images/card-bkgs/services_creative_bkg.png");
  }
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  //   background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;

  @include respond(semi-big-desktop) {
    padding: 0rem;
  }
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;

  @include respond(phone) {
    margin-top: -2rem;
  }
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: Nunito, Roboto, sans-serif;
  font-weight: 300;
}

.front {
  .inner {
    .img-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 1rem;

      margin: 1rem 3rem;
      margin-top: 3rem;

      @include respond(phone) {
        column-gap: .5rem;
        row-gap: .5rem;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;

        

        @include respond(semi-big-desktop) {
          height: 70%;
          width: 70%;
          opacity: 0.5;
          align-self: center;
          justify-self: center;
          object-fit: contain;
        }
        @include respond(phone) {
          height: 90px;
          width: 90px;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }
}

.card__title {
  height: 8rem;
  padding: 2rem 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__heading {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 85%;
  display: flex;
  justify-content: center;
}

.card__details {
  padding: 0 1rem 1rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1rem;
  padding: 0.6rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

// @media screen and (max-width: 64rem) {
//   .col {
//     width: calc(33.333333% - 2rem);
//   }
// }

// @media screen and (max-width: 48rem) {
//   .col {
//     width: calc(50% - 2rem);
//   }
// }

// @media screen and (max-width: 32rem) {
//   .col {
//     width: 100%;
//     margin: 0 0 2rem 0;
//   }
// }