@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";
.parallax-container {
  display: block;

  overflow: hidden;
  .parallax-item {
    height: 600px;
    width: auto;
    @include respond(phone) {
      margin-bottom: -300px;
    }
    div[class~="react-parallax-background-children"] {
      width: 100% !important;
    }
    .react-parallax-background-children {
      width: 100%;
    }
    .parallax-bg {
      width: 100%;
      img{

        width: 100%;
      }
    }
  }

  img.parallax-bg {
    @include respond(phone) {
        height: 600px !important;
      left: -10% !important;
    }
    
  }
}

.bg-class{
  width: 100% !important;
}
 .parallax-bg {
      width: 100% ;
      img{

        width: 100%;
      }
    }
