/** @format */

@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6rem;
  margin-top: 200px;
  @include respond(phone) {
       margin-top: unset;
       margin-bottom: 2rem;
    }
  .skill-description {
    color: $smoke-white;
  }

  .skillbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;

    .skillbar-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
    }
    .skillbar-title h5 {
      font-weight: 400;
      font-size: 16px;
    }
    .skillbar-outer {
      height: 15px;
      background-color: #d9d9d9;
      border-radius: 50px;
      overflow: hidden;
      .skillbar-inner {
        height: 100%;
        width: 0;
        background-color: #2f9be7;
        box-shadow: 0px 0px 5px rgba(43, 43, 43, 0.5);
        border-radius: 50px;
      }
    }
  }
  div[class="skillbar"] {
    background: $medium-color-light !important;
    overflow: hidden;
  }
  div[class*="skillbar-bar"] {

    left:110px;
    
  }
  div[class*="skillbar-title"] {
    display: none;
  }
}
