@import "../../styles/config";
@import "../../styles/utilities";

.carousel-container {
    max-width: 900px;
    margin: auto;
    display: block;
    overflow: hidden;
    // img {
    //     width: 30px;
    // }
    .carousel-content {
        max-height: 100%;
        // background-color: red;
        overflow: hidden;
        padding-bottom: 30px;
        &:hover{
            cursor: grab;
        }
    }

    
}