/** @format */

@import "../../styles/config";
@import "../../styles/utilities";

.carousel-container {
  max-width: 900px;
  margin: auto;
  display: block;
  overflow: hidden;

  .carousel-content {
    max-height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    .img-container {
      background-color: white;
      display: block;
      border-radius: 16px;
      margin: 0 1rem;
      width: 300px;
      height: 200px;
      overflow: hidden;
    }
    .img-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;

      margin: 1rem 3rem;
      .logo-container {
        position: relative;

        .img-wrapper {
          position: relative;
          display: block;
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &:hover {
        cursor: grab;
      }
  }
}
