/** @format */

@import "../../styles/config";
@import "../../styles/utilities";

.carousel-container {
  max-width: 900px;
  margin: auto;
  display: block;
  overflow: hidden;

  li[class="dot"] {
    background: $main-color-dark !important;
  }

  li[class="dot selected"] {
    background: $main-color-dark !important;
  }

  .carousel-content {
    max-height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
    .img-container {
      background-color: white;
      display: block;
      border-radius: 16px;
      margin: 0 1rem;
      width: 300px;
      height: 200px;
      overflow: hidden;
    }
    
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    &:hover {
        cursor: grab;
      }
  }
}
