/** @format */

// Header
@import "../../styles/config";
@import "../../styles/utilities";

.header {
  &_home {
    // background: linear-gradient(
    //     0deg,
    //     rgba(72, 98, 135, 0.48),
    //     rgba(72, 98, 135, 0.48)
    //   ), $bg-image no-repeat center right / cover;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    .comparisonSection {
      .comparisonImage {
        z-index: -1;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        &.afterImage-2,
        &.afterImage {
          position: absolute;
          top: 0;
          transform: translate(100%, 0px);
          img {
            transform: translate(-100%, 0px);
          }
        }
        img {
          pointer-events: none;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        // &.afterImage {
        //   img {
        //     transform: translate(-100%, 0px);
        //   }
        // }
        // &.afterImage-2 {
        //   img {
        //     transform: translate(-100%, 0px);
        //   }
        // }
      }
    }

    // .afterImage-2 img {
    //   transform: translate(-100%, 0px);
    // }
    // .comparisonImage img {
    //   pointer-events: none;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   z-index: -1;
    // }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
      position: relative;
      height: 100%;

      .button-group {
        margin-top: 4rem;
        display: flex;
        width: 50rem;
        max-width: 40%;
        justify-content: space-between;
      }

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }

      .lead {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        color: $main-color;
        text-align: left;
      }
    }
  }
}
