@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";

.title-container {
  overflow: hidden;
  position: relative;
  .overlay-container {
    display: block;
    transform: translateY(50%);
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    @include respond(phone) {
      transform: translateY(80%);

    }
  }
}
