@import "../../styles/config";
@import "../../styles/utilities";

.title-container {
  position: relative;
  .overlay-container {
    position: relative;
    display: block;
    transform: translateY(50%);
  }
}
