/** @format */
@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";
.logo_img {
  width: 60px;
  height: 60px;
  z-index: 2;
  display: block;
  &:hover {
    cursor: pointer;
  }
   @include respond(phone) {
    width: 40px;
  height: 40px;
  }
}
