/** @format */

@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";

.contact-section {
  height: 95vh;
  z-index: -5;

  @include respond(phone) {
    height: auto;
  }

  .title-container {
    position: relative;
    top: 7rem;

    @include respond(phone) {
      top: 8rem;
    }
  }

  .contact-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    height: 100%;

    @include respond(semi-big-desktop) {
      justify-content: initial;
    }

    div {
      &.social-container {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;

        @include respond(semi-big-desktop) {
          display: none;
        }

        .social-title {
          @extend %title-large;
          line-height: 116.9%;
          color: rgba(217, 217, 217, 0.4);
          font-size: 7rem;
          letter-spacing: 1.5rem;
          margin-right: -8rem;
          padding-left: 2rem;
          z-index: 10;
        }

        .email-container {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;

          align-items: center;
          transition: all 0.5s ease-in-out;

          a {
            text-decoration: none;
            color: black;
          }

          .email-icon {
            img {
              width: 4rem;
            }
          }

          .email-content {
            font-family: Nunito, Roboto, sans-serif;

            font-style: normal;
            font-weight: 800;
            font-size: 1.5rem;
          }

          &:hover,
          &:focus {
            cursor: pointer;
            background-color: $main-color;
            border: 3px solid $light-color;
          }
        }
      }

      &.form-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
        position: relative;
        width: 100%;

        background-color: $main-color;

        @include respond(phone) {
          width: auto;
        }

        .form-content {
          font-family: Nunito, Roboto, sans-serif;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
          padding: 3rem;
          width: 100%;
          margin: 10rem 5rem 0rem 10rem;

          background-color: $dark-color;
          display: flex;
          flex-direction: column;
          align-items: center;

          @include respond(phone) {
            margin: 1rem;
            font-weight: 500;
          }

          .error {
            position: relative;

            color: $warn-color;
            font-size: 0.6rem;
          }

          form {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 80%;
            height: 80%;

            @include respond(phone) {
              width: 100%;
            }

            textarea {
              outline: none;
              width: 100%;
              min-height: 200px;
              min-width: 200px;
              height: 100%;
              align-self: stretch;
              border: 4px solid $light-color;
              background-color: $dark-color;
              color: $light-color;
              resize: none;
              -webkit-user-select: text; /* Chrome, Opera, Safari */
              -moz-user-select: text; /* Firefox 2+ */
              -ms-user-select: text; /* IE 10+ */
              user-select: text; /* Standard syntax */
              margin: 2rem 0rem 0rem 0rem;
              overflow: auto;
              font-family: Raleway, Roboto, sans-serif;
              font-size: 1rem;
              font-weight: 700;

              transition: all 0.25s ease-in-out;

              @include respond(phone) {
                height: auto;
                padding-bottom: 1rem;
              }

              &:hover {
                border: 4px solid $main-color;
              }

              &.invalid {
                border: 4px solid $warn-color;
              }
            }

            .btn-container {
              align-self: flex-end;
              margin-top: 4rem;

              @include respond(phone) {
                margin-top: 1rem;
              }

              button {
                &:disabled {
                  opacity: 0.7;
                  cursor: not-allowed;
                }

                &:disabled:hover,
                &:disabled:focus {
                  background-color: grey;
                }
              }
            }

            .input-field {
              position: relative;
              height: 44px;
              line-height: 44px;
              margin: 1rem 0rem;

              .underline {
                content: "";
                display: block;
                position: absolute;
                bottom: 1px;
                left: 0;
                width: 0;
                height: 4px;
                background: $main-color;
                transition: all 0.6s ease-out;
              }

              label {
                position: absolute;
                top: 0;
                left: 0;

                color: $light-color;
                transition: 0.2s all;
                cursor: text;

                &.invalid {
                  color: $warn-color;
                }
              }

              input {
                font-family: Raleway, Roboto, sans-serif;
                font-size: 1rem;
                font-weight: 700;
                width: 100%;
                border: 0;
                outline: 0;
                padding: 0.5rem 0;
                border-bottom: 4px solid $light-color;
                transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
                box-shadow: none;
                color: $light-color;
                background-color: $dark-color;

                &:invalid {
                  outline: 0;
                }

                &:focus {
                  &~.underline {
                    width: 100%;
                  }
                }

                &:focus~label,
                &:valid~label {
                  font-size: 14px;
                  top: -24px;
                  color: $main-color;

                  &.invalid {
                    color: $warn-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}