.background-404 {
  background-image: url("/images/404.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
