@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";

.introduction-container {
  position: relative;
  flex-direction: column;
  display: flex;
  height: 100vh;
  gap: 2rem;
  @include respond(phone) {
    height: auto;
  }
  align-items: center;
  .introduction-text {
    display: block;
    margin-top: 10rem;
    color: $deep-dark-color;
    @extend %title-lead--main-color;
    max-width: 60%;
    @include respond(phone) {
      max-width: 80%;
      margin: 2rem 0;
    }
  }
  div[class*="bottom-line"] {
    margin-top: 8rem;
    @include respond(phone) {
       margin-top: 4rem;
    }
  }
  .button-container {

    display: flex;
    gap: 30%;
    justify-content: center;
    align-items: center;
    @include respond(phone-small) {
      margin: 0rem 4rem;
      margin-top: 1rem;
      gap: 20%;
    }
    @include respond(phone) {
      margin: 0rem 4rem;
      margin-top: 1rem;
      gap: 20%;
    }
    @include respond(phone-long) {
      margin: 0rem 4rem;
      margin-top: 1rem;
      gap: 20%;
    }
  }
}
