/** @format */

@import "../../styles/config";
@import "../../styles/utilities";

.specialize-section {

  &-container {
    height: 95vh;
    margin-bottom: 4rem;
    .specials {
      margin-top: 3rem;
      padding: 1rem 2rem;
      display: grid;
      grid-gap: 4rem;
      grid-template-columns: repeat(3, 1fr);
      .card-wrapper {
         position: relative; 
      }
    }
  }
}
