/** @format */
@import "./media";
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  font-family: Nunito, Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  padding: 0.5rem 1.8rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 8px;
  @include respond(phone) {
    margin: 2rem 0rem;
  }
}

%title-large {
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 9rem;
  @include respond(phone) {
    font-size: 3.5rem;
  }
}
%title-large--light {
  @extend %title-large;
  text-transform:lowercase;
  font-weight: 300;
}
%title-lead--main-color {
  @extend %title-large;
  text-transform:lowercase;
  font-weight: 400;
  color: $main-color;
  font-size: 2rem;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn {
  &-main {
    @extend %btn-shared;
    color: $light-color;
    background-color: $main-color;
    border: 3px solid $light-color;
    &:hover,
    &:focus {
      color: $dark-color;
    }
  }

  &-light {
    @extend %btn-shared;
    color: $light-color;
    background-color: transparent;
    border: 3px solid $light-color;
    &:hover,
    &:focus {
      background-color: $main-color;
    }
  }

  &-dark {
    @extend %btn-shared;
    color: $light-color;
    background-color: $dark-color;
    &:hover,
    &:focus {
      background-color: $main-color;
    }
  }

  &-dark--outline {
    @extend %btn-shared;
    color: $dark-color;
    background-color: $light-color;
    border: 3px solid $dark-color;
    &:hover,
    &:focus {
      color: $light-color;
      background-color: $dark-color;
    }
  }
}

.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  @include respond(phone) {
    font-size: 1rem;
    padding: 0rem 2rem;
  }
  &--main-color {
    color: $main-color;
    @include respond(phone) {
      font-size: 1rem;
      padding: 0rem 2rem;
    }
  }
  &--deep-dark-color {
    color: $deep-dark-color;
    @include respond(phone) {
      font-size: 1rem;
      padding: 0rem 2rem;
    }
  }
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.px {
  &-1 {
    padding: 0 1rem;
  }
  &-2 {
    padding: 0 2rem;
  }
  &-3 {
    padding: 0 3rem;
  }
  &-4 {
    padding: 0 4rem;
  }
  &-8 {
    padding: 0 8rem;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.section-title {
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-family: Raleway, Roboto, sans-ser;
  font-size: 3rem;
  font-weight: 500;
  color: $deep-dark-color;
  @include respond(phone) {
    font-size: 1.5rem;
  }
}

.bottom-line {
  height: 3px;
  width: 6rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

.tagcloud {
  width: 480px;
  height: 480px;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 20%;
  @include respond(phone) {
    width: 100%;
    gap: unset;
    justify-content: space-between;
    
  }
}
