@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";

.widget_container {
  display: flex;
  position: relative;

  max-width: 30%;
  
  @include respond(phone) {
   
      max-width: 100% !important;
      flex-basis: 100%;

  }


  img {
    width: 100%;
    height: 100%;
    display: block;
  }

}