@import "../../styles/config";
@import "../../styles/utilities";
@import "../../styles/media";
.dot-container {
 

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  animation: dotScale 1s infinite linear;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .dot-elastic {
    
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $main-color-dark;
    color: $medium-color-light;
    animation: dotElastic 1s infinite linear;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
    }
    &::before {
      left: -15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $main-color-dark;
      color: $medium-color-light;
      animation: dotElasticBefore 1s infinite linear;
    }
    &::after {
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $main-color-dark;
      color: $medium-color-light;
      animation: dotElasticAfter 1s infinite linear;
    }
  }
}

@keyframes dotScale {
  0% {
    transform: scale(1, 1);
  }
 
  50% {
    transform: scale(1.5, 1.5);
  }
  
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
